<mat-toolbar color="primary">A&M-Sales &nbsp;
  <button mat-button [routerLink]="[{ outlets: { menuOutlet: ['bills'] } }]">
    <mat-icon>library_books</mat-icon>
    Facturación
  </button>
  <button mat-button [routerLink]="[{ outlets: { menuOutlet: ['cashbox'] } }]">
      <mat-icon>payment</mat-icon>
      Caja
  </button>

  <button mat-button routerLink="/login" style="position: absolute; right: 10px;">
    <mat-icon>exit_to_app</mat-icon>
    Salir
  </button>

</mat-toolbar>
<div class="menuContainer">
	<router-outlet name='menuOutlet'></router-outlet>
</div>
