<h1 class="center-text">
  A&M Sales
</h1>
<mat-card class=login-card>
  <mat-toolbar color="primary" class="center-text">
    <span>Iniciar Sesión</span>
  </mat-toolbar>
  <mat-card-content class="login-content">
    <mat-form-field>
      <input matInput type="text" placeholder="Usuario">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña">
    </mat-form-field>
    <br>
    <a href="">¿Olvidó su contraseña?</a>
  </mat-card-content>
  <mat-card-actions class="login-actions">
    <button mat-raised-button color="primary">Entrar</button>
  </mat-card-actions>
</mat-card>


