/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background:#fafafa;
    font-family: 'Roboto';
}

a {
	text-decoration: none;
	cursor: pointer;
}

.center-text{
	text-align: center !important;
	justify-content: center;
}