/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background:#fafafa;
	font-family: 'Roboto';
	margin:0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.center-text{
	text-align: center !important;
	justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 74vh;
}
  
.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
.mat-table {
  overflow: auto;
  max-height: 500px;
}